
.zhu {
  margin-left: auto;
  margin-right: auto;
  width: 860px;
  height: 600px;
  border-radius: 13px;
  background-color: rgba(241, 117, 40, 0.452);
}

.guanyu {
  float: right;
  width: 120px;
  height: 100px;
  margin-top: 4%;
  margin-right: 2%;
  border-radius: 3px;
  background-color: rgba(27, 93, 190, 0.776);
  border: 1px solid #000; 

}

.biaoti {
  float: left;
  display: flex;  
  justify-content: center; /* 水平居中 */  
  align-items: center; /* 垂直居中 */ 
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  background-color: rgba(143, 160, 185, 0.776);
  border: 1px solid #000; 
  clear: both;
}

.biaoti-nei {
  display: flex;  
  justify-content: center; /* 水平居中 */  
  align-items: center; /* 垂直居中 */ 
  width: 70%;
  height: 180px;
  border-radius: 40px;
  background-color: rgba(27, 93, 190, 0.776);
  border: 1px solid #000; 
  font-size: 500%;
}

.biaoti-nei-fenlei {
  display: flex;  
  justify-content: center; /* 水平居中 */  
  align-items: center; /* 垂直居中 */ 
  margin-left: 2%;
  margin-right: 2%;
  width: 30%;
  height: 140px;
  border-radius: 20px;
  background-color: rgba(81, 94, 114, 0.776);
  border: 1px solid #000; 
  font-size: 300%;
}

.biaoti-nei-liebiao {
  width: 98%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  background-color: rgba(165, 172, 181, 0.776);
}

.biaoti-nei-liebiao-nei {
  float: left;
  margin-left: 1%;
  width: 98%;
  height: 240px;
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius: 30px;
  background-color: rgba(81, 94, 114, 0.776);
  clear: both;
}

.tu {
  width: 160px;
  height: 160px;
  margin-top: 14px;
  margin-left: 14px;
  border-radius: 20px;
}

.biaoti-nei-liebiao-nei-miaoshu {
  margin-left: 195px;
  width: 600px;
  height: 140px;
  margin-top: -144px;
  border-radius: 20px;
  background-color: rgba(81, 94, 114, 0.776);
}

.biaoti-nei-liebiao-nei-lianjie {
  margin-left: 20px;
  width: 775px;
  height: 40px;
  margin-top: 10px;
  border-radius: 12px;
  background-color: rgba(81, 94, 114, 0.776);
}
